*{
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin:0;
    height: 100vh;
}

ul{
    list-style: none;
}
/*=================================================================*/
.title{
    font-family: 'PT Serif', serif;
    font-size: 90px;
}
.sub-back{
    background-color: #ea504c;
    padding:0 20px 0 20px;
}
.separator{
    letter-spacing: 3px;
}
.separator-wider{
    letter-spacing: 10px;
}
.date{
    font-size: 60px;
    margin-top: 30px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    width: 100%;
    z-index: 10;
    background-color:rgba(255,255,255,0.2);
    color:#fff;
    transition: all 0.4s ease-in-out;
}

.navbar-brand img{
    height: 60px;
    margin-right: 30px;
}

.navbar-nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.nav-item{
    padding-right: 8px;
    font-size: 14px;
    margin-left: 20px;
    color:#bdc7d8;
}

.dropdown-menu.show{
    /* background-color: rgba(255,255,255,0.2);
    color:#fff; */
    background-color:  #414a4f !important;
    color: #10102c;
    transition: background-color 0.4s ease-in-out;
    color:#fff !important;
}

.dropdown-item{
    color:#fff;
}

.dropdown-item:hover{
    color:#ea504c !important;
    background-color: rgba(255,255,255,0.2);
    border-bottom:3px solid;
    margin:0;
}
.nav-transparent .nav-link , a{
    color:#fff;
}

.nav-link{
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition:0.4s;
}

.nav-link:hover{
    color:#ea504c !important;
    border-bottom:3px solid;
    margin:0;
}

.colorScroll{
<<<<<<< HEAD
    background-color:  #414a4f !important;
    color: #10102c;
=======
    background-color:  #eaeaea !important;
>>>>>>> 941714a94bd70b7fe23c9bde1bc458acdc8244a6
    transition: background-color 0.4s ease-in-out;
    color:#fff !important;
}


/*======================================================================*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:100px;
}

section p{

    max-width: 800px;
    line-height: 2;
}

hr{
    margin-bottom: 40px;
    border: 1px solid #ea504c;
    color:#ea504c;
    width:20%;
}

section h3{
    text-align: center;
}


/*============================================================*/

.hero{
    position: relative;
    justify-content:center;
    text-align: center;
    min-height: 100vh;
    color:#fff;
}

 .hero .background-image{
     position: absolute;
     top:0;
     left:-1px;
<<<<<<< HEAD
     background-image: url(../images/02.png);
=======
     background-image: url(../images/01.jpg);
>>>>>>> 941714a94bd70b7fe23c9bde1bc458acdc8244a6
     background-size: cover;
     background-position: center center;
     width:100%;
     height: 100%;
     z-index:-1;

}

 .hero .background-image::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #3b5072;
    /* background-color: #414a4f; */
    opacity: 0.75;
}

/* .hero a{
    font-size: 28px;
    color: #ea504c;
} */

.hero .form-button{
    border: 2px solid #ea504c;
    background: transparent;
    color:#ea504c;
    font-size:22px;
    padding:10px;
    transition: all 0.4s ease-in-out;
}

.hero .form-button:hover{
    text-decoration: none;
    background: #ea504c;
    color:#fff;
}

.hero .title h1{
    font-size:80px;
}

.hero p{
    font-size: 20px;
}

.hero h3{
    margin: 20px;
}
/*==================================================================*/

.sponsors{

}
.logos{
    margin-top:80px;
}
.sponsors img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding:10px;
    top:50%;
    left:50%;
}

<<<<<<< HEAD
.center-images{
    text-align: center;
    vertical-align: middle;
}
.flex1{
    flex:1 1 20em;
}
.flex2{
    flex:1 1 20em;
}
.flex3{
    flex:1 1 20em;
}
.flex4{
    flex:1 1 20em;
}

/*===================================================================*/

.about{
    font-size:20px;
=======
.about{
    
>>>>>>> 941714a94bd70b7fe23c9bde1bc458acdc8244a6
}

/*======================================================================*/

.program{
    border-color: #f7f7f7;
}

.color-card{
    background-color: #3b5072;
    color:#fff;
}

.schedule{
    font-weight: bold;
    color:#ea504c;
}

.nav-tabs{
    width: 100%;
}

.nav-item a{
    color:#000;
}
/*=====================================================================*/

<<<<<<< HEAD
.features{
    font-size: 20px;
    background-color: #f7f7f7;
}
=======
>>>>>>> 941714a94bd70b7fe23c9bde1bc458acdc8244a6
/* .features .grid{
    width:100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
} */

ul.grid{
    width: 100%;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .grid li{
    padding:0 30px;
    flex-basis: 46%;
    text-align: center;

}

.features .grid li i{
    margin-bottom: 20px;
    padding:30px;
    font-size: 130px;
    color: #ea504c;
}


/*======================================================================*/

.program h3{
    font-size:40px;
}

/*=====================================================================*/

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:60px;
    color:#fff;
    background-color: #414a4f;
}

footer ul{
    display:flex;
    margin-bottom:25px;
    font-size: 30px;
    list-style: none;
    padding:0;
}

footer ul li{
    margin:10px;
}

footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}

footer a{
    color:#fff;
}

footer a:hover{
    color:#f7f7f7;
}

/*==================================================================*/

.speakers{
    padding: 80px 0;
    min-height: 350px;
    margin-bottom: 50px;
    background: #f7f7f7;
}

.speakers h2{
    margin-bottom: 30px;
}

.speakers img{
    border-radius: 50%;
    height: 150px;
}

.speakers .col-lg-3{
    text-align: center;
}

/*==================================================================*/

.form{
    background-color: #f7f7f7;
}

<<<<<<< HEAD
=======

>>>>>>> 941714a94bd70b7fe23c9bde1bc458acdc8244a6
/*==================================================================*/

@media (max-width: 700px){
    .hero .background-image{
        background-image: url(../images/03.png);
    }
    .hero h1{
<<<<<<< HEAD
        font-size:60px;
        margin-top: 20px;
    }
    .date{
        font-size: 40px;
=======
        font-size:48px;
        margin-top: 20px;
>>>>>>> 941714a94bd70b7fe23c9bde1bc458acdc8244a6
    }
    .hero p{
        margin-top:20px;
    }
}

@media (max-width: 600px){
    section{
        padding:80px 30px;
        text-align: center;
    }
    .features .grid li{
        flex-basis: 100%;
        text-align: center;
    }
}
