*{
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin:0;
    height: 100vh;
}

ul{
    list-style: none;
}
/*=================================================================*/

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    width: 100%;
    z-index: 10;
    background-color:rgba(255,255,255,0.2);
    color:#fff;
    transition: all 0.4s ease-in-out;
}

.navbar-brand img{
    height: 60px;
}

.navbar-nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.nav-item{
    padding-right: 8px;
    font-size: 20px;
    margin-left: auto;
    color:#bdc7d8;
}

.nav-transparent .nav-link , a{
    color:#10102c;
}

.nav-link{
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition:0.4s;
}

.nav-link:hover{
    color:#272d50 !important;

    border-bottom:3px solid;
    margin:0;
}

.colorScroll{
    background-color:  #eaeaea !important;
    transition: background-color 0.4s ease-in-out;
    color:#fff !important;
}


/*======================================================================*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:100px;
}

section p{

    max-width: 800px;
    line-height: 2;
}

hr{
    margin-bottom: 40px;
    border: 1px solid #ea504c;
    color:#ea504c;
    width:20%;
}

section h3{
    text-align: center;
}


/*============================================================*/

.hero{
    position: relative;
    justify-content:center;
    text-align: center;
    min-height: 100vh;
    color:#fff;
}

 .hero .background-image{
     position: absolute;
     top:0;
     left:-1px;
     background-image: url(../images/01.jpg);
     background-size: cover;
     width:100%;
     height: 100%;
     z-index:-1;
     filter:blur(2px);
}

 .hero .background-image::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.75;
}

/* .hero a{
    font-size: 28px;
    color: #ea504c;
} */

.hero .form-button{
    border: 2px solid #ea504c;
    background: transparent;
    color:#ea504c;
    font-size:22px;
    padding:10px;
    transition: all 0.4s ease-in-out;
}

.hero .form-button:hover{
    text-decoration: none;
    background: #ea504c;
    color:#fff;
}

.hero h1{
    font-size:80px;
}

.hero p{
    font-size: 20px;
}

.hero h3{
    margin: 20px;
}
/*==================================================================*/

.sponsors{
    background-color: #f7f7f7;
}

/*===================================================================*/

.about{
    
}

/*======================================================================*/

.program{
    border-color: #f7f7f7;
}

/*=====================================================================*/

/* .features .grid{
    width:100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
} */

ul.grid{
    width: 100%;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .grid li{
    padding:0 30px;
    flex-basis: 46%;
    text-align: center;

}

.features .grid li i{
    margin-bottom: 20px;
    padding:30px;
    font-size: 130px;
    color: #ea504c;
}



/*=====================================================================*/

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:60px;
    color:#fff;
    background-color: #414a4f;
}

footer ul{
    display:flex;
    margin-bottom:25px;
    font-size: 30px;
    list-style: none;
    padding:0;
}

footer ul li{
    margin:10px;
}

footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}

footer a{
    color:#fff;
}

footer a:hover{
    color:#f7f7f7;
}

/*==================================================================*/

.speakers{
    padding: 80px 0;
    min-height: 350px;
    margin-bottom: 50px;
    background: #f7f7f7;
}

.speakers h2{
    margin-bottom: 30px;
}

.speakers img{
    border-radius: 50%;
    height: 150px;
}

.speakers .col-lg-3{
    text-align: center;
}

/*==================================================================*/

.form{
    background-color: #f7f7f7;
}


/*==================================================================*/

@media (max-width: 700px){
    .hero h1{
        font-size:48px;
        margin-top: 20px;
    }
    .hero p{
        margin-top:20px;
    }
}

@media (max-width: 600px){
    section{
        padding:80px 30px;
        text-align: center;
    }
    .features .grid li{
        flex-basis: 100%;
        text-align: center;
    }
}
